@import url("./fonts.css");

.App {
  text-align: center;
}

.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 300px; /* 300px of padding on left and right */
  height: 100vh;
}

.Layout-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.Layout-background {
  background-image: url('/public/background.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: top;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
}

.Layout-header {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Layout-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  background-color: rgba(19, 52, 87, 0.87);
}

.AppBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Logo {
  height: 34px;
  width: auto;
}

.Logo-phone {
  width: 96px;
  height: auto;
}

.Menu {
  width: 608px;
  height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 401px;
}

.subtitle{
  border-left: 1px solid white;
}

.subtitleText {
  opacity: 0.5;
  text-align: justify;
}

.GHPage {
  padding: 10px;
}

text{
  color:white
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}
