@import url('./fonts.css');

.App {
  text-align: center;
}

.App.mobile {
  overflow-x: hidden;
}

.Layout {
  display: grid;
  position: absolute;
  grid-template-columns: minmax(15px, 300px) auto auto auto minmax(15px, 300px);
  grid-template-rows: auto;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.Layout.mobile {
  grid-template-columns: 15px minmax(15px, auto) minmax(15px, auto) minmax(
      15px,
      auto
    ) 15px;

  overflow-x: hidden;
}

.Layout-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  grid-area: 1 / 2 / 2 / 5;
}

.Layout-background {
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: top;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  /* filter: blur(10px); */
}

.Layout-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  /* filter: blur(10px); */
  background-color: rgba(19, 52, 87, 0.87);
}

.Layout-header {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  grid-area: 1 / 2 / 2 / 5;
  z-index: 1;
  max-width: 100vw;
}

.Layout-header.mobile {
  position: fixed;
  width: calc(100vw - 30px);
}

.AppBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  height: 34px;
  width: auto;
}

.logo.moobile {
  width: 96px;
  height: auto;
}

.menu {
  width: 608px;
  height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.menu.mobile {
  justify-content: flex-end;
}

.menu-button {
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

.Phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: minmax(41px, 205px);
  height: auto;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
} */

.custom-button {
  width: 380px;
}

.page {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.wrapper.mobile {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.mentor {
  grid-area: 1 / 3 / 4 / 4;
  margin-top: 110px;
  width: 130%;
}

.mentor.mobile {
  overflow-x: hidden;
}

.mentor-img {
  background-image: url('/public/mentor.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}

.center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 400px;
  justify-content: start;
  align-items: center;
  grid-area: 2 / 1 / 2 / 3;
}

.header {
  text-align: left;
  grid-area: 1 / 1 / 2 / 3;
  max-width: 747px;
}

.subtitle {
  border-left: 1px solid white;
  text-align: left;
  padding: 0 24px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle-center {
  max-width: 675px;
  grid-area: 2 / 1 / 3 / 3;
}

.butterWhite-container {
  align-self: end;
  grid-area: 3 / 1 / 4 / 2;
}

.buttonOther-container {
  align-self: end;
  grid-area: 3 / 2 / 4 / 3;
}

.center.mobile {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr auto auto;
  grid-area: 2 / 1 / 2 / 4;
  justify-items: start;
}

.header.mobile {
  max-width: 330px;
  grid-area: 1 / 1 / 2 / 3;
  font-size: 25px;
}

.subtitle-center.mobile {
  grid-area: 2 / 1 / 3 / 3;
  max-width: 290px;
}

.butterWhite.mobile {
  scale: 0.7;
}
.buttonOther.mobile {
  scale: 0.7;
}

.butterWhite-container.mobile {
  display: flex;
  align-items: flex-start;
  grid-area: 3 / 1 / 4 / 3;
}

.buttonOther-container.mobile {
  display: flex;
  align-items: flex-start;
  grid-area: 4 / 1 / 5 / 3;
}

.subtitle-quality {
  grid-area: 3 / 1 / 3 / 2;
  align-self: end;
  width: 150px;
  margin-bottom: 60px;
}

.subtitle-percent {
  grid-area: 3 / 2 / 3 / 3;
  align-self: end;
  width: 200px;
  margin-bottom: 60px;
}

.subtitleText {
  opacity: 0.5;
  line-height: 150%;
}

.GHPage {
  padding: 10px;
}

text {
  color: white;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}

button.mobile:focus {
  background-color: transparent;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

button:active {
  transform: scale(0.95);
}
.popup {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 600px;
  background: #0f1d45;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;
}

.popup.mobile {
  width: 100vw;
}

.popup-content {
  position: relative;
  padding: 40px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.popup-content.mobile {
  padding: 40px;
  padding-left: 40px;
}

.popup-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* backdrop-filter: blur(7.5px); лагает   */
  z-index: 2;
  opacity: 0.6;
  background-color: #0f1d45;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.custom-button.contact-form-button.mobile {
  width: 100%;
}

.contact-form-lable {
  font-size: 50px;
  margin-top: 40px;
  text-align: left;
  padding-right: 40px;
}

.contact-form-lable.mobile {
  font-size: 30px;
  margin-top: 20px;
  padding-right: 0px;
  text-align: left;
}

.contact-form-inputs-container {
  display: flex;
  flex-direction: column;
}

input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
  opacity: 0.8;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label.mobile {
  display: inline-flex;
  align-items: flex-start;
  user-select: none;
}

custom-checkbox-subtitle {
  font-size: 16px;
  margin-right: 95px;
  text-align: left;
}

custom-checkbox-subtitle.mobile {
  font-size: 16px;
  margin-right: 40px;
  text-align: left;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #b3d7ff;
  scale: 0.9;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #555555;
}

.alert-text {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
