/* Raleway Styles */
.raleway {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-variant: small-caps;
}

.raleway.semibold {
  font-weight: 600;
}

.raleway.lineheight {
  line-height: 35px;
}

.raleway.H1 {
  font-size: 65px;
  font-weight: 600;
}

.raleway.H2 {
  font-size: 55px;
  font-weight: 600;
}

.raleway.T1 {
  font-size: 18px;
  font-weight: 600;
}

.raleway.T2 {
  font-size: 16px;
}

/* Montserrat Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-variant: small-caps;
}

.montserrat.semibold {
  font-weight: 600;
}

.montserrat.lineheight {
  line-height: 41px;
}

.montserrat.T1 {
  font-size: 40px;
  font-weight: 600;
}

.montserrat.T2 {
  font-size: 18px;
  font-weight: 600;
}
.montserrat.T3 {
  font-size: 14px;
}

.H1.mobile {
  font-size: 25px;
}